.container {
    height: 100vh;
    width: 1000vw;
    background-color: #090909;
  }
  .ghost {
    position: absolute;
    width: 10%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
  }
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    text-align: center;
    color: white;
    font-size: 2em;
    overflow: hidden;
  }

  body {
    background-color: black;
    background-attachment: fixed;
  }
  
  .text-box {
    width: 800px;
    height: 200px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
  }