.container {
    height: 100vh;
    width: 100vw;
    background-color: #090909;
  }
  .ghost {
    position: absolute;
    width: 10%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
  }
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    text-align: center;
    color: white;
    font-size: 2em;
    overflow: hidden;
  }

  body {
    background-color: black;
    background-attachment: fixed;
  }
  